<% content_for :head do %>
	<style type="text/css" media="screen">
		#contact-form {position:relative;background: url(/images/swiss-army-knife-70.png) 20px top no-repeat;}
		#contact-form label{width:80px; text-align:right; display:block; float:left; color:#8a7; font-weight:bold;padding-right:10px;}
		#contact-form input{width:200px; border:solid 1px #8a7;}
		#contact-intro{padding-left:92px; color:#584;margin-bottom:20px;}
		#contact-button{ margin:10px 0 0 86px; text-align:center; position:relative;}
		#contact-button input{border:0;margin-bottom:-8px;}
    </style>
<% end %>top:130px;

<% content_for :sidebar do %>
	<iframe height="700" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://winatl.wufoo.com/embed/m7x4z5/"><a href="http://winatl.wufoo.com/forms/m7x4z5/" title="Winatl Interest Form">Fill out my Wufoo form!</a></iframe>
	<!--
	<% form_for :lead, @lead, :url => { :action => "lead_submit" } do |f| %>
	<div id="contact-form">
		<div id="contact-intro">
			Are you interested in Search Engine Optimization Training in Atlanta, GA? 
		</div>
		<div>
			<label>name</label>
			<%= f.text_field :name %>
			
		</div>
		<div>
			<label>email</label>
			<%= f.text_field :email %>
			
		</div>
		<div>
			<label>phone</label>
			<%= f.text_field :phone %>
		</div>
		<div id="contact-button">
			<input type="image" src="/images/buttons/get-more-information.png" alt="Get More Information" />
			<br/>
			<a href="#" >Get More Information</a>

		</div>
	</div>
	<% end %>
	-->
<% end %>