
<% content_for :head do %>
	<title>Affordable SEO in Atlanta, GA</title>
	<meta name="description" value="WinAtl offers Affordable Search Engine Optimization class instruction for Small Business Owners in Atlanta, GA"></meta>
	<meta name="keywords" value="Affordable SEO, Small Business SEO Budget, SEO Results"></meta>
<% end %>
<div id="breadcrumb"><a href="/">Home</a>&gt;&gt;<a href="/training/">SEO Training</a>&gt;&gt;<a>Affordable Results</a></div>
<div id="info-text">
	<h1>Affordable Results</h1>
	<h2>When consulting and other SEO classes are so expensive, why is WinAtl so reasonably priced?</h2>
	<p>When looking at the search marketing landscape, the <strong>high end businesses</strong> that <strong>have large marketing budgets</strong> are willing 
		and <em>able to pay large amounts for SEO consulting</em> fees.  <strong>Most training courses and agencies are geared toward large businesses</strong>.  
	</p>
	<p>Over the years, <strong>we have worked with various small businesses</strong> that were <em><strong>simply priced out of search marketing.</strong></em>  
	But we have found that <em><strong>small businesses have an advantage</strong> in search marketing</em>.  If you have a Local business, a business 
	<strong>with an actual address</strong>, it <strong>takes much less time and effort</strong> to make it <strong>rank well in search engines</strong> 
	<em>such as Google</em>. 
	</p>
	<p>We've <em>designed our training classes around the steps that make a <strong>small business</strong> succeed</em>.  With our 
	<strong>proven methodology</strong> for <em><strong>online success</strong></em>, you will be able to <strong>streamline your efforts to elevate your search engine presence</strong> 
	<em>quickly</em> and <em>easily</em>.
	</p>
	<br/>
	<p>Apply for a class today!</p>


</div>

<% render :partial => '/home/leadform.html.erb' %>