
<div id="seo-text">
	<h1>SEO Class in Atlanta, GA</h1>
	<h2>SEO Class for Small Business</h2>
	WinAtl is excited to offer <b>Atlanta classes in Search Engine Optimization for small businesses</b>.  This 3 hour class is <b>geared toward the resourceful, <i>do it yourself</i> website owner</b>.  You'll <i>learn by doing</i> and <i>leave empowered</i> with mad <b>SEO skills</b>.
</div>

<% render :partial => '/home/leadform.html.erb' %>
