<% content_for :head do %>
	<title>SEO for the Small Business Owner in Atlanta, GA</title>
	<meta name="description" value="Learn about classes in Search Engine Optimization designed specifically for Small Business Owners in Atlanta, GA"></meta>
	<meta name="keywords" value="Small Business SEO, Small Biz SEO, Small Business Website SEO"></meta>
<% end %>
<div id="breadcrumb"><a href="/">Home</a>&gt;&gt;<a href="/training/">SEO Training</a>&gt;&gt;<a>SEO for the Small Biz Owner</a></div>
<div id="info-text">
	<h1>SEO for the Small Biz Owner</h1>
	<h2>Who are these classes for?</h2>
	<p>
		Unlike <em>other SEO/SEM training classes</em> that are <em>geared toward professional search marketers, 
		IT staff and the occasional business owner</em>, the <em><strong>Winatl classes are geared specifically 
		toward the small business owner</strong></em>.  
	</p>
	<p>
			Our <strong>classes are presented in plain language</strong> (English!) 
		and give <strong>very specific steps</strong> to help <strong>small businesses increase their online presence</strong> and 
		&ldquo;<em>findability</em>&rdquo;.  
	</p>
	<p>Our <strong>classes are <em>closed</em> to search marketers</strong>.</p>
	<br/>
	<p>Apply for a class today!</p>


</div>

<% render :partial => '/home/leadform.html.erb' %>

