<% content_for :head do %>
	<title>Atlanta SEO - Local Search Engine Optimization Training in Atlanta</title>
	<meta name="description" value="WinAtl provides training for Search Engine Optimization (SEO) and Marketing (SEM) in Atlanta, GA for Small Business Owners"></meta>
	<meta name="keywords" value="Small Business SEO, Local Search Atlanta, Small Biz SEO, Small Business Website SEO"></meta>
<% end %>

<div id="seo-text">
	<h1>Atlanta SEO</h1>
	<h2>Search Engine Optimization Training</h2>
	<b>Winning <i>Local Search</i></b> can be the <b>key to success for many small businesses</b>. For local searches, <b>Google has dedicated a prime piece of real estate</b> to the local business in their search results. <b>Your presence in that piece of real estate means your business will be exposed to web searchers</b> who are <b><i>looking for YOU</i></b> and the services YOU provide.
</div>

<% render :partial => '/home/leadform.html.erb' %>