<% content_for :head do %>
	<title>John Sherrod - SEO Instructor in Atlanta, GA</title>
	<meta name="description" value="John Sherrod teaches Search Engine Optimization for Small Business Owners in Atlanta, GA"></meta>
	<meta name="keywords" value="John Sherrod, Small Business SEO Instructor, SEO trainor"></meta>
<% end %>


<div id="info-text">
	<h1>SEO Instructor - John Sherrod</h1>
	<p>
		John Sherrod began writing Web Applications in 1999 and has specialized in SEO since 2002.  His focus has been natural search optimization for large, data driven websites.  As the former Director of SEO and Emerging Technologies at Primedia, John has developed strategies for high traffic websites such as Rentals.com, Realestate.com, Apartmentguide.com and a variety of other web properties.
	</p><p>
		In his seven years in a structured corporate environment, John was responsible for illuminating the importance and value of SEO and developing adoption strategies in both corporate philosophy as well as developmental practices.  John began his role of "SEO Evangelist" in the IT department.  He eventually migrated to the Marketing team and ultimately became part of the Product Developement group.  
	</p><p>
		As an SEO consultant, John has successfully developed and integrated Local and Organic SEO strategies for a variety of website business lines including Real Estate, Automotive, Photography, Dental and Medical Equipment, Architecture Firms and a number other small businesses.
	</p><p>
		John lives in Tucker Georgia with his wife and 19 month old daughter.  When not plugged into the Internet, John is an organic gardener, musician, yoga practitioner and his daughter's own personal muppet.
	</p>
</div>

<% render :partial => '/home/leadform.html.erb' %>
