
<div id="seo-text" style="text-align:center">
	<h1>Thanks <%=h @lead.name %></h1>
	<h2>We'll contact you shortly!</h2>
	You can start by collecting a list of competitors in your space that you would like to out rank!
</div>
