<% content_for :head do %>
	<title>Search Engine Marketing / SEM explained</title>
	<meta name="description" value="SEM is a fancy term used to cover all strategies for building search engine traffic"></meta>
	<meta name="keywords" value="Search Engine Marketing, SEM, What is SEM"></meta>
<% end %>
<div id="seo-text">
	<h1>Search Engine Marketing</h1>
	<h2>SEM explained</h2>
	<b><acronym title="Search Engine Marketing">SEM</acronym></b> is a fancy term used to cover all <strong>strategies for <em>building search engine traffic</em></strong>.  
	It includes <b><i>organic search</i></b> (<em>ranked website keyword</em> hits listed in <strong>non-paid search results</strong>), <acronym title="Pay Per Click"><strong>PPC</strong></acronym> (keyword-targeted <strong><i>paid</i> adverting</strong>), 
	and <strong>marketing using social websites and communities</strong>.
</div>

<% render :partial => '/home/leadform.html.erb' %>