

<div id="seo-text">
	<h1>Search Engine Marketing</h1>
	<h2>SEM explained</h2>
	<b><acronym title="Search Engine Marketing">SEO</acronym></b> is the <b>art and practice</b> of conforming to <b>html and url design best practices</b> with the <b>goal of being highly indexable</b> by <b>search engines</b>.  <b><i>Google is the big dog</i></b> on the block and tends to define what those best practices are.
</div>

<% render :partial => '/home/leadform.html.erb' %>