<% content_for :head do %>
	<title>Search Engine Optimization / SEO explained</title>
	<meta name="description" value="SEO is is the art and practice of optimizing websites to rank high search engine results"></meta>
	<meta name="keywords" value="Search Engine Optimization, SEO, What is SEO"></meta>
<% end %>


<div id="seo-text">
	<h1>Search Engine Optimization</h1>
	<h2>SEO explained</h2>
	<b><acronym title="Search Engine Optimization">SEO</acronym></b> is the <b>art and practice</b> of conforming to <b>html and url design best practices</b> with the <b>goal of being highly indexable</b> by <b>search engines</b>.  <b><i>Google is the big dog</i></b> on the block and tends to define what those best practices are.
	<p><a href="/seo/sem">What is SEM?</a></p>
</div>

<% render :partial => '/home/leadform.html.erb' %>