<% content_for :head do %>

	<title>Search Engine Optimization (SEO) Marketing (SEM) for Small Business Training in Atlanta, GA</title>
	<meta name="description" value="Search Engine Optimization and Marketing Training provided by top SEO/SEM Consultants in Atlanta, GA designed specifically for small Businesses Owners."></meta>
	<meta name="keywords" value="Search Engine Optimization Traingng, SEO Training, Search Engine Marketing Training, SEO for Small Business, Small Business SEO"></meta>
<% end %>

<div id="left-col">
	<h3>About WinAtl SEO Training</h3>
	<ul>
		<li>It's <a href="/training/seo_for_small_business_owner/">SEO for Small Business Owners</a></li>
		<li>It's <a href="/training/affordable_small_business_seo/">Affordable SEO</a></li>
	</ul>	
</div>

<div id="seo-text">
	<h1>Search Engine Marketing Training</h1>
	<h2><acronym title="Search Engine Marketing">SEM</acronym>/<acronym title="Search Engine Optimization">SEO</acronym>  Training for Small Business</h2>
 	<strong>Search</strong> is a powerful and accessible tool <strong>for small business</strong>.  Many <strong>small business owners teach themselves</strong> how to<em> code and manage their business website</em> yet neglect, or <em>are intimidated by</em>, <strong>optimizing for Online Search</strong>.  
	
	<p style="margin-top:40px;">"Win Atl" works to break down the walls separating you from massive opportunity. </p>
</div>

<% render :partial => '/home/leadform.html.erb' %>