

<div id="seo-text">
	<h1>Search Engine Marketing Training</h1>
	<h2><acronym title="Search Engine Marketing">SEM</acronym>/<acronym title="Search Engine Optimization">SEO</acronym>  Training for Small Business</h2>
 	<strong>Search</strong> is a powerful and accessible tool <strong>for small business</strong>.  Many <strong>small business owners teach themselves</strong> how to<em> code and manage their business website</em> yet neglect, or <em>are intimidated by</em>, <strong>optimizing for Online Search</strong>.  
	
	<p style="margin-top:40px;">"Win Atl" seeks to break down the walls separating you from massive opportunity. </p>
</div>

<% render :partial => '/home/leadform.html.erb' %>