

<div id="seo-text">
	<h1>Search Engine Marketing Training</h1>
	<h2>SEO/SEM Training for Small Business</h2>
 	Search is a powerful and accessible tool for small business.  Many small business owners teach themselves how to code and manage their business website but neglect or are intimidated by optimizing for Search Engines.  "Win Atl" seeks to break down the walls separating you from massive opportunity. 
</div>

<% render :partial => '/home/leadform.html.erb' %>