Hi Guru,<br/>
<br/>
Name:<br/>
<br/>
<%= @email_name %><br/>
<br/>
Email:<br/>
<br/>
<a href="mailto:<%= @email_address %>"><%= @email_address %></a><br/>
<br/>
Message:<br/>
<br/>
<%= @email_message %>
<br/>
your inspirational thought for the day...<br/>
<img src="/images/fish/1.jpg" /><br/>